.button{
	-fx-background-color:#3498db;
	-fx-text-fill:white;
	-fx-font-size:16px;
	-fx-font-weight:bold;
	-fx-border-radius:5px;
}
.label{
	-fx-font-size:16px;
	-fx-font-weight:bold;
}

#heading{
	-fx-text-fill:black;
	-fx-font-size:36px;
	-fx-font-weight:bold;
	-fx-underline:true;
}
#Error{
	-fx-text-fill:RED;
	-fx-font-size:12px;
	
}